*{
    box-sizing: border-box;
}

.normal-size{
    width: 150px;
    height: 150px;
}

.large-size{
    width: 350px;
    height: 350px;
}

.container{
    border: 1px solid red;
    width: 500px;
    padding: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-element{
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

label{
    display: block;
    font-size: 10px;
}

#submit-btn{
    padding: 5px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(21, 231, 231);
    width: 50%;
    cursor: pointer;
}

/* .flex-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.flex-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.error{
    border: 2px solid salmon;
}

.success{
    border: 2px solid green;
}

small{
    color: salmon;
    font-size: 10px;
    visibility: hidden;
    /* display: none; */
}

small.display{
    visibility: visible;
}

/* .xyz.geek{

} */