.my-new-class{
    padding: 10px;
    background-color: bisque;
    border: 1px solid rgb(255, 139, 139);
    border-radius: 2px;
}

.one{
    background-color: aqua;
}
.two{
    background-color: azure;
}

.three{
    background-color: bisque;
}
.four{
    background-color: yellowgreen;
}

.h3-with-class{
    border: 2px solid rebeccapurple;
}

button{
    padding: 10px;
    background-color: bisque;
    border: 1px solid rgb(255, 139, 139);
    border-radius: 2px;
    /* display: none; */
}

button:hover{
    cursor: pointer;
    background-color: rgb(234, 164, 79);
}